/*So far, I've only done some basic styling.*/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
}

canvas {
  background: #111;
  border: 2px solid #555;
}

#score {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  font-family: sans-serif;
}